.benefits-section {
	background-color: #000;
}
.sr-data {
	color: #BABABA;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.sr-data a{ text-decoration: none;}
.sr-data h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
    margin-bottom: 1.8rem;
}
.img-wp {
	width: 100px;
	margin: auto;
	margin-bottom: 4rem;
	height: 100px;
}
.benefits-section {
	background-color: #000;
	position: relative;
	padding: 1rem 0;
}
.benefits-section::before {
	font-size: 39rem;
	font-weight: 900;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #121212;
	-webkit-text-fill-color: transparent;
	line-height: normal;
	box-sizing: border-box;
	position: absolute;
	content: "BENEFITS";
	text-align: center;
	top: -137px;
}
