.footer{
    background-color: #000;
    padding: 5rem 0;
    font-size: 1.4rem;
}
.footer p{
    font-size: 1.7rem;
}
.footer h3{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.copyright{
    text-align: center;
    font-size: 1.3rem;
    color: #808080;
    font-weight: 600;
    padding-top: 5rem;
}
.footerlogo{
    margin-bottom:16px;
    display:inline-block;
}
