.reise-section {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 15rem 0;
}
.left-r {
	width: 60%;
}
.right-r {
	width: 25%;
	
}
.right-r img {
	width: 100%;
}
.left-r .button {
	margin-top: 4rem;
}