.pricebox {
	box-shadow: 0 0 32px #a4a2a2;
	width: 85%;
	margin: auto;
}
.prc-blackbg {
	background: #000;
	padding: 4rem;
	text-align: center;
	color: #fff;
}
.prc-blackbg h2 {
	font-size: 2.2rem;
	margin-bottom: 0;
}
.prc-blackbg span {
	font-size: 1.3rem;
}
.prc-blackbg figure {
	font-size: 5.5rem;
	font-weight: 600;
	position: relative;
	margin-bottom: 0;
	line-height: normal;
}
.price-section {
	padding: 10rem 0;
}
.pricebox ul {
	margin: 0;
	padding: 0;
    display: grid;
    gap: 1rem;
    margin-bottom: 10rem;
}
.pricebox ul li {
	list-style: none;
	font-size: 1.8rem;
	color: #000;
    text-align: left;
    position: relative;
    padding-left: 25px;
}
.pricebox ul li::before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 17px;
	height:17px;
	content: "";
    transform: translateY(-50%);
	background-size: 100%;
	background-image: url(../../assets/check.svg);
	background-repeat: no-repeat;
}
.liststyle {
	padding: 5rem 8rem;
    text-align: center;
}
.divider {
	width: 104px;
	margin: 28px auto;
	border-color: #c3f408;
	opacity: 100;
}